:root{
	--header-height: 3rem;

	--title-color: #0e71cd;
	--text-color: #f0ffff;
	--text-color-alt: #0c3167;
	--text-color-light: #0e71cd;
	--container-color: #ffffff;
	--container-color-alt: #383838;
	--body-color: #ffffff;

	--body-font: 'Century Gothic', sans-serif;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: .94rem;
	--small-font-size: .87rem;
	--smaller-font-size: .81rem;

	--font-medium: 100;
	--font-semi-bold: 600;

	--mb-1: .5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;

	--z-tooltip: 10;
	--z-fixed: 100;
}

*, ::before, ::after{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body.scale-cv{
	--h1-font-size: .938rem;
	--h2-font-size: .938rem;
	--h3-font-size: .875rem;
	--normal-font-size: .813rem;
	--small-font-size: .75rem;
	--smaller-font-size: .688rem;
}

.generate-pdf{
	display: none;
	position: absolute;
	top: 2.2rem;
	left: 0;
	font-size: 1.2rem;
	color: var(--text-color);
	cursor: pointer;
}

.generate-pdf:hover{
	color: var(--title-color);
}

.progress-bar {
	margin: .2rem 0 0 0;
	width: 100%;
	background-color: #e0e0e0;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
	display: block;
	height: .3rem;
	background-color: var(--text-color-light);
	border-radius: 3px;

	transition: width 500ms ease-in-out;
}

#social{
	padding-top: 0;
}

.scale-cv .generate-pdf{
	display: none;
}
.scale-cv .home {
	margin-top: 1.5rem;
}
.scale-cv .container{
	max-width: 595px;
}

.scale-cv .section{
	padding: .5rem 0 .80rem;
}

.scale-cv .section-title{
	margin-bottom: .005rem;
}

.scale-cv .resume__left, .scale-cv .resume__right{
	padding: 1rem;
}
.scale-cv .resume__right {
	margin-right: 1rem;
}
.resume__right {
	margin-top: 2rem;
}

.scale-cv .home__img{
	width: 90px;
	height: 90px;
}

.scale-cv .home__container{
	gap: 1.5rem;
}

.scale-cv .home__data{
	gap: .25rem;
}

.scale-cv .home__address,
.scale-cv .social__container{
	gap: .75rem;
}

.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon{
	font-size: 1rem;
}

.scale-cv .education__container{
	gap: 0;
}

.scale-cv .experience__container,
.scale-cv .certificate__container{
	gap: 1rem;
}

.scale-cv .education__time,
.scale-cv .experience__time{
	padding-right: .5rem;
}

.scale-cv .education__rounder,
.scale-cv .experience__rounder{
	width: 11px;
	height: 11px;
	margin-top: .22rem;
}

.scale-cv .education__line,
.scale-cv .experience__line{
	width: 1px;
	height: 110%;
	transform: translate(5px, 0);
}

.scale-cv .education__data,
.scale-cv .experience__data{
	gap: .25rem;
}

.scale-cv .skills__name{
	margin-bottom: var(--mb-1);
}
.scale-cv .project__description{
	padding: .2rem 0;
}

.scale-cv .project__description,
.scale-cv .experience__description,
.scale-cv .certificate__description,
.scale-cv .languages__container{
	font-size: .7rem;
}

.scale-cv .certificate__title {
	margin-bottom: .1rem;
	font-weight: bold;
}

.scale-cv .interests__container{
	column-gap: 2.5rem;
}
.scale-cv .interests__content {
	margin-bottom: 0;
}

body{
	margin: 0 0 var(--header-height) 0;
	padding: 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1,h2,h3,ul,p{
	margin: 0;
}

h1,h2,h3{
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul{
	padding: 0;
	list-style-type: none;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

.section{
	padding: 1.5rem 0;
}

.right-section {
	padding: .5rem;
}

.section-title{
	font-size: var(--h2-font-size);
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
	text-transform: uppercase;
	letter-spacing: .35rem;
	text-align: center;
	margin-bottom: var(--mb-1);
}

.container{
	max-width: 968px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-3);
	margin-right: var(--mb-3);
}

.grid{
	display: grid;
	gap: .5rem;
}

.l-header{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
	box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
	transition: .3s;
}

.nav{
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo, .nav__toggle{
	color: var(--title-color);
	font-weight: var(--font-medium);
}

.nav__toggle{
	font-size: 1.2rem;
	cursor: pointer;
}

.nav__item{
	text-align: center;
}

.nav__list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.nav__link{
	display: flex;
	flex-direction: column;
	font-size: var(--smaller-font-size);
	color: var(--text-color-light);
	font-weight: var(--font-medium);
}

.nav__link:hover{
	color: var(--title-color);
}

.nav__icon{
	font-size: 1.2rem;
	margin-bottom: var(--mb-1);
}

.active-link{
	color: var(--title-color);
}

.home{
	position: relative;
}

.home__container{
	gap: 3rem;
}

.home__data{
	gap: .5rem;
	text-align: center;
}

.home__img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	justify-self: center;
	margin-bottom: var(--mb-1);
	border: 3px solid var(--text-color-light);
}

.home__title{
	font-size: var(--h1-font-size);
	font-weight: var(--font-medium);
}

.home__profession{
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1);
}

.home__profession__left{
	color: var(--text-color);
}

.home__address{
	gap: 1rem;
}

.home__information{
	display: flex;
	align-items: center;
	font-size: var(--small-font-size);
}

.home__icon{
	font-size: 1.2rem;
	margin-right: .25rem;
	color: var(--title-color);
}

.home__button-movil{
	display: inline-block;
	border: 2px solid var(--text-color-light);
	color: var(--text-color-light);
	padding: 1rem 2rem;
	border-radius: .25rem;
	transition: .3s;
	font-weight: var(--font-medium);
	margin-top: var(--mb-3);
}

.home__button-movil:hover {
	background-color: var(--text-color-light);
	color: var(--text-color);
}

.social__container{
	grid-template-columns: max-content;
	gap: 1rem;
}

.social__link{
	display: inline-flex;
	align-items: center;
	font-size: var(--small-font-size);
	color: var(--text-color);
}

.social__link:hover{
	color: var(--title-color);
}

.social__icon{
	font-size: 1.2rem;
	margin-right: .25rem;
	color: var(--title-color);
}

.profile__description{
	text-align: center;
}

.education__container{
	grid-template-columns: 20px auto;
	padding-bottom: 1rem;
}

.education__content, .experience__content{
	display: flex;
}

.education__time, .experience__time{
	padding-right: 1rem;
}

.education__rounder, .experience__rounder{
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	background-color: var(--text-color-light);
	border-radius: 50%;
	margin-top: .25rem;
}

.education__line, .experience__line{
	display: block;
	width: 2px;
	height: 100%;
	transform: translate(7px, 0);
}

.education__line{
	background-color: var(--text-color-light);
}

.experience__container,
.certificate__container,
.projects__container,
.languages__container,
.certificate__container,
.interests__container
{
	background: aliceblue;
	border-radius: 10px;
	padding: .5rem;
}

.experience__line{
	background-color: var(--container-color-alt);
}

.experience__description{
	color: var(--text-color-alt);
}

.experience__data li{
	color: var(--text-color-alt);
	font-style: italic;
}

.education__data{
	gap: .5rem;
}

.education__title{
	font-size: var(--h3-font-size);
}

.education__studies{
	font-size: var(--small-font-size);
	color: var(--text-color);
}

.experience__company{
	font-size: var(--small-font-size);
	color: var(--text-color-alt);
	font-weight: var(--font-semi-bold);
}

.education__year{
	font-size: var(--smaller-font-size);
}

.projects__container{
 	gap: 1rem;
}

.project__description{
	color: var(--text-color-alt);
}

.project__technologies{
	color: var(--text-color-light);
	margin-top: .5rem;
	font-weight: bold;
}
.languages__proficiency {
	color: var(--text-color-light);
	margin-top: .5rem;
}
.project__timespan{
	font-weight: 100;
}
.projects__link{
	color: var(--text-color-light);
}

.skills__content, .languages__content{
	grid-template-columns: repeat(2, 1fr);
}

.skills__name, .languages__name{
	display: flex;
	align-items:baseline;
	margin-bottom: var(--mb-1);
}
.languages__name {
	flex-direction: column;
}
.skills__circle, .languages__circle, .experience__circle{
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin-right: .75rem;
}

.skills__circle{
	background-color: var(--title-color);
}

.languages__circle, .experience__circle{
	background-color: var(--title-color);
}

.languages__name{
	color: var(--text-color-alt);
}

.certificate__title{
	font-size: var(--h3-font-size);
	margin-bottom: var(--mb-1);
}

.certificate__description{
	color: var(--text-color-alt);
}

.certificate__description a {
	color: var(--text-color-light);
}

.interests__container{
	grid-template-columns: repeat(3, 1fr);
	margin-top: var(--mb-2);
}

.interests__content{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
	color: var(--text-color-alt);
}

.interests__icon{
	font-size: 1.5rem;
	color: var(--text-color-light);
	margin-bottom: .25rem;
}

.scrolltop{
	position: fixed;
	right: 1rem;
	bottom: -20%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .3rem;
	background-color: var(--text-color-light);
	border-radius: .4rem;
	z-index: var(--z-tooltip);
	transition: .4s;
	visibility: hidden;
}

.scrolltop__icon{
	font-size: 1.2rem;
	color: var(--text-color);
}

.show-scroll{
	visibility: visible;
	bottom: 5rem;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 320px){
	.nav__list{
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem .5rem;
	}
}

@media screen and (max-width: 968px) {
	.nav__menu {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		padding: 2rem 1.5rem;
		background-color: var(--body-color);
		box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
		border-radius: 1rem 1rem 0 0;
		z-index: var(--z-fixed);
		transition: .3s;
	}

	.show-menu {
		bottom: var(--header-height);
	}

	.home__profession__left, .home__information,
	.social__link, .profile__description,
	.education__studies, .skills__data {
		color: var(--text-color-alt);
	}

	.generate-pdf{
		color: var(--text-color-light);
	}
	
	.generate-pdf:hover{
		color: var(--text-color-light);
	}

	#resume-button{
		display: none;
	}

}

@media screen and (min-width: 968px){
	body{
		margin: 3rem 0;
	}

	.container{
		margin-left: auto;
		margin-right: auto;
	}

	.l-header, .scrolltop{
		display: none;
	}

	.resume{
		display: grid;
		grid-template-columns: .5fr 1fr;
		background-color: var(--container-color);
		box-shadow: 0 0 8px rgba(13, 12, 12, .15);
	}

	.resume__left{
		background-color: var(--container-color-alt);
		border: 3px solid var(--text-color-light);
		border-width: 0 5px 0 0;
	}

	.resume__left, .resume__right{
		padding: 0 1.5rem;
	}

	.generate-pdf {
		display: inline-block;
	}

	.section-title, .profile__description{
		text-align: initial;
	}

	.home__container{
		gap: 1.5rem;
	}

	.home__button-movil{
		display: none;
	}

	.languages__content{
		grid-template-columns: repeat(3, max-content);
		column-gap: 3.5rem;
	}

	.interests__container{
		grid-template-columns: repeat(5, max-content);
		column-gap: 3.5rem;
	}
}